aeneas
django
django-crispy-forms
ffmpeg
firebase-admin
gizeh
google-images-download
google-images-search
grpcio
librosa
lyricsgenius
matplotlib
moviepy
opencv-python
pip-chill
pydub
pyfoal
pyopenssl
pytesseract
pytube
pytube3
speechrecognition
wget
wikipedia
yake
youtube-dl
youtube-transcript-api
youtube.py
