{% extends 'videography/main.html' %}

{% block content %}
    <br>
    <div class='container col-md-6'>
        {% if files|length != 0 %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Song Name</th>
                    <th scope="col">Link</th>
                </tr>
                </thead>
                <tbody>
                {% with number=0 %}  
                {% for file in files %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        {% for key, value in file.items %}
                            {% if key != 'timings'%}
                                {% if key == 'youtubeID'%}
                                    <td>
                                        <a href="/videography/video/{{value}}">View Video</a>
                                    </tr>
                                {% else %}
                                    <td>
                                        {{ value }}
                                    </td>
                                {% endif%}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                {% endwith %}  
                </tbody>
            </table>
        {% else %}
            <h4>Collection empty.</h4>
            <p>This system does not seek to store downloaded content! However collections may be manually created for demonstration purposes. Refer to documentation for further information.</p>
        {% endif %}
    </div>

{% endblock content %}