{% extends 'videography/main.html' %}

{% block content %}
    <div id = spinner1 class="container text-center no-display text-primary">
        <br>
        <br>
        <div class="spinner-border align-middle" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
        
    <div id='index-body'>
        {% if form != None %}
        <div class="form-group">
            <form action="/videography/" method="post">
                {% csrf_token %}
                <div class='container col-md-6'>
                    {{ form.as_p }}
                    <input type="submit" value="Submit" id='button1'>
                </div>
            </form>
        </div>
        {% endif %}
    </div>

    <script>

        const spinner = document.getElementById('spinner1')
        const navigationBar = document.getElementById('nav')
        const index = document.getElementById('index-body')

        $('#button1').on('click', function () {
            index.classList.add('no-display')
            navigationBar.classList.add('no-display')
            spinner.classList.remove('no-display')
        })
    </script>

{% endblock content %}
