{% extends 'videography/main.html' %}

<!--% load crispy_forms_tags % -->

{% block content %}
    
    <div>
        <div class="form-group">
                <div class='container col-md-6'>
                    <div id = spinner1 class="container text-center no-display text-primary">
                        <br>
                        <p>Video compilation has begun. Please wait for its completion...</p>
                        <br>
                        <div class="spinner-border align-middle" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div id='index-body'>
                        <br>
                        <h3>Complete the form below:</h3>
                        <div>
                            {% if error != None %}
                                <br>
                                <p id=errorid class="text-danger">Error: {{error}}</p>
                            {% endif %} 
                            {% if message != None %}
                                <br>
                                <p id=messageid class="text-success">Submittion complete. Thank you for providing feedback.</p>
                            {% endif %}
                        </div> 
                        <form action="/videography/" method="post" onsubmit="submittionFunciton()">
                            {% csrf_token %}
                            <div id=radiodiv>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="operation" id="alignment"  value="music" checked>
                                    <label class="form-check-label" for="alignment">
                                        Forced Alignment Tool
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="operation" id="captions" value="captions">
                                    <label class="form-check-label" for="captions">
                                        YouTube Captions Extractor
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="operation" id="analysis" value="lyrics">
                                    <label class="form-check-label" for="analysis">
                                        Lyric Video Analysis
                                    </label>
                                </div>
                            </div>
                            <br>
                            <div id=formid>
                                <div id=artistId>
                                    {{ artist_form.as_p }}
                                </div>
                            </div>
                            <input type="submit" value="Submit" id='button1'>
                            <br>
                            <div>
                                <h5>Auto-fill form for submission testing: </h5>
                                
                                <input type=button value="Forced Alignment" id='button2' onclick="formValue('alignment', 'https://www.youtube.com/watch?v=na47wMFfQCo', 'America', 'A Horse With No Name')" >
                                <input type=button value="Caption Extractor" id='button3' onclick="formValue('captions', 'https://www.youtube.com/watch?v=CevxZvSJLk8', 'Katy Perry', 'Roar')">
                                <input type=button value="Lyrical Analysis" id='button4' onclick="formValue('analysis', 'https://www.youtube.com/watch?v=CjPc8RVJ0Dc', 'One Direction', 'What Makes You Beautiful')">

                            </div>
                        </form>
                        <br>
                        <p>Check out <a href="https://genius.com/" target="_blank" rel="noopener noreferrer">Genius.com</a> if unsure of artist or song name.</p>
                    </div>
                </div>

            
        </div>
    </div>

    <script>

    function formValue(method, link, artist, song){
        radioButton = document.getElementById(method);
        radioButton.checked = true;

        linkField = document.getElementById("id_youtube_link");
        linkField.value = link;

        artistField = document.getElementById("id_artist_name");
        artistField.value = artist;

        songField = document.getElementById("id_song_name");
        songField.value = song
    }

    const spinner = document.getElementById('spinner1');
    const navigationBar = document.getElementById('nav');
    const index = document.getElementById('index-body');

    function unloadFunction(){
        index.classList.remove('no-display')
        navigationBar.classList.remove('no-display')
        spinner.classList.add('no-display')
    }

    function submittionFunciton(){
        index.classList.add('no-display')
        navigationBar.classList.add('no-display')
        spinner.classList.remove('no-display')
    }

    const message = document.getElementById('messageid')
    if (message != null){
        const myTimeout = setTimeout(function(){
            message.remove()
        }, 5000);
    };
    
    </script>

{% endblock content %}
